body{
    background-image: url("/imagenes/fondo.jpg") ;
}

.navbar, .nav-menu{
    padding: 0;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.nav-item, .nav-menu{
    list-style: none;
}

.nav-item, .nav-menu, a{
    text-decoration: none;
    padding: 0.5em;
}

.logo{
    width: 70px;
    height: 70px;
}

h1{
    display: flex;
    justify-content: center;
}

.margen{
    margin-bottom: -20px;
}

.titulo{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

p{
    padding-left: 5px;
}

input, textarea, button{
    margin-bottom: 5px;
}

button{
    margin-bottom: 5px;
    background-color: rgb(187, 206, 241);
}

.colorFooter{
    background-color: rgb(182, 133, 228, 0.5);
}

.colorHeader{
    background-color: rgb(182, 133, 228, 0.5);
}

.separa{
    display: flex;
}

.hijo{
    margin: auto;
}

#logoFooter{
    margin-top: 20px;
}

#mostrador{
    height: 300px;
    width: 400px;
}

@media (min-width: 576px){
    .piePagina{
        padding-left:0.5px;
        padding-top: 25px;
    }
    .separar{
        padding-left: 5px;
    } 
    
    .columIzq{
        visibility: hidden;
    }

    .columDer{
        visibility: hidden;
    }

    #logoFooter{
        margin-top: 2px;
    }
    .margen{
        margin-bottom: 0px;
    }

    .footerContact{
        margin-top: 70px;
    }

    #mostrador{
        height: 350px;
        width: 950px;
    }
}


@media (min-width: 768px){
    .alturaLogo{
        height: 80px;
    }
}

.centrar{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    margin-top: 20px;
}

.pastel{
    width: 160px;
    height: 160px;
    border: 1px solid black;
}

.ponerDistancia{
    margin-top: 30px;
}

.enLinea{
    display: flex;
    justify-content: center;
}

.justificado{
    text-align: justify;
}

.chefs{
    height: 400px;
    width: 400px;
}